@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                @(Html.DevExpress()
                     .BootstrapTextBoxFor(m => m.Email))
            </div>
            <div class="form-group">
                @(Html.DevExpress()
                     .BootstrapTextBoxFor(m => m.Password).Password(true))
            </div>
            <div class="form-group">
                @(Html.DevExpress()
                     .BootstrapTextBoxFor(m => m.ConfirmPassword).Password(true))
            </div>
            @(Html.DevExpress()
                .BootstrapButton()
                .Name("resetBtn")
                .Text("Reset")
                .UseSubmitBehavior(true)
                .SettingsBootstrap(bootstrap => bootstrap.RenderOption(BootstrapRenderOption.Primary)))
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}